# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
.melos_tool/

# Android
android/.gradle/
android/app/build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/

# macOS
macos/Flutter/ephemeral/
macos/Pods/
macos/.symlinks/

# Linux
linux/flutter/ephemeral/

# Web
web/.dart_tool/

# Windows
windows/flutter/ephemeral/

# IDEs
.idea/
.vscode/
*.iml

# Others
*.log
pubspec.lock
coverage/
